@media screen and (max-width: 768px) {
  .class {
    color: red; } }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium.woff2") format("woff2"), url("../fonts/lifehack_medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular.woff2") format("woff2"), url("../fonts/gagalin-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light.woff2") format("woff2"), url("../fonts/ubuntu-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium.woff2") format("woff2"), url("../fonts/ubuntu-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b.woff2") format("woff2"), url("../fonts/ubuntu-b.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: "ubuntumedium", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 0; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 100vh;
  min-height: 650px; }

.section_centered {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  height: 6.25rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem; }

.header__btns {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

.header__menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 0.9375rem;
  text-align: right; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap; }
  .nav__item:after {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    content: ' ';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 0.9375rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.header__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header__button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0.8125rem;
  background-color: #e45028;
  border: 0;
  border-radius: 0.3125rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 2.1875rem;
  color: #fff;
  text-decoration: none; }
  .header__button:hover {
    background-color: #c1401e; }

.hero {
  background-image: url("../img/bg/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 17%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 8.125rem; } }
  @media screen and (max-width: 480px) {
    .hero__content {
      padding: 0; } }

.hero__image {
  -webkit-flex-basis: 47%;
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.75rem;
  margin-right: 1.325rem; }
  @media screen and (max-width: 768px) {
    .hero__image {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.hero__image-pic {
  height: 15.625rem; }

.hero__text {
  -webkit-flex-basis: 47%;
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3.75rem; }
  @media screen and (max-width: 768px) {
    .hero__text {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin-top: 0;
      text-align: center; } }

.hero__desc {
  color: #fff;
  font-family: "lifehack";
  font-size: 3.9375rem;
  font-weight: 500;
  line-height: 1;
  margin-top: 0.375rem; }

.arrow-scroll {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  height: 0.9375rem;
  width: 1.875rem;
  bottom: 1.875rem;
  left: 50%; }

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 50, 52, 0.99);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 100;
  display: none;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }
  .hamburger-menu_visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0; }

.hamburger-menu__logo {
  position: absolute;
  top: 0.625rem;
  left: 1.875rem; }

.hamburger-menu__close {
  position: absolute;
  right: 0.9375rem;
  top: 0.9375rem;
  width: 1.125rem;
  height: 1.125rem;
  padding: 0.9375rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  .hamburger-menu__close:hover .hamburger-menu__close-icon use {
    fill: #fff; }

.hamburger-menu__close-icon {
  width: 100%;
  height: 100%; }
  .hamburger-menu__close-icon use {
    fill: #c1c2c2;
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s; }

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

.section-title {
  color: #f9b43b;
  font-family: "gagalin";
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin: 0; }
  .section-title_color_black {
    color: #2f3234; }
  .section-title_color_white {
    color: #fff; }
  .section-title_centered {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-title_margin-left {
    margin-left: 6.25rem;
    margin-right: 1.875rem; }

.best {
  background: url("../img/bg/best.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .best .section__title {
    margin-bottom: 5rem; }

.best__icon-pic {
  width: 90%;
  height: 6.25rem; }
  .best__icon-pic svg {
    max-width: 95%; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
  margin-bottom: 3.125rem;
  padding: 0 0.9375rem;
  width: 30vw;
  max-width: 21.875rem; }
  @media screen and (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 25rem; } }

.best__head {
  font-size: 1.5rem;
  font-family: "lifehack", Arial, sans-serif;
  margin-bottom: 1.25rem; }

.best__text {
  font-size: 0.875rem;
  color: #2f3234;
  font-family: "ubuntulight", arial, sans-serif;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best__text {
      text-align: left; } }

.reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-filter: grayscale(100);
  filter: grayscale(100); }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__text {
  padding: 1.875rem 1.25rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .reviews__text:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 768px) {
    .reviews__text {
      padding: 0.9375rem 0.625rem; } }

.reviews__author {
  font-family: "gagalin", sans-serif;
  font-size: 0.875rem;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .reviews__author {
      margin-bottom: 0.625rem; } }

.reviews__content {
  line-height: 1.42;
  font-size: 0.875rem;
  font-family: "ubuntulight", sans-serif;
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 768px) {
    .reviews__content {
      margin-bottom: 0.625rem; } }

.reviews__button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8125rem;
  padding: 0.625rem 0.9375rem;
  background-color: #2f3234;
  border-radius: 0.4375rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .reviews__button:hover {
    background-color: #000; }

.team {
  background-image: url(../img/bg/team-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.team__content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background-color: rgba(47, 50, 52, 0.93);
  color: #fff;
  padding: 5% 2% 0 7%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media screen and (max-width: 768px) {
    .team__content {
      left: 0;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team-acco {
  margin-top: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team-acco {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.team-acco__trigger {
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-family: 'gagalin';
  font-size: 0.875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.875rem;
  margin-left: 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .team-acco__trigger:before {
    content: "";
    width: 0.3125rem;
    height: 0.3125rem;
    border: 0.3125rem solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    margin-right: 0.3125rem; }
  @media screen and (max-width: 768px) {
    .team-acco__trigger {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      margin-left: 0; } }

.team-acco__content {
  margin-left: 5%;
  display: none;
  font-family: "ubuntulight";
  font-size: 14px; }
  @media screen and (max-width: 768px) {
    .team-acco__content {
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 12px; } }

.team-acco__avatar {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.team-acco__img {
  width: 6.25rem;
  height: 6.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.team-acco__text-title {
  font-weight: 500; }

.team-acco__item_active .team-acco__trigger {
  color: #f8b43a; }
  .team-acco__item_active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team-acco__item_active .team-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .team-acco__item_active .team-acco__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.menu {
  background: url(../img/bg/menu.jpg) 50% no-repeat;
  background-size: cover;
  position: relative; }

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%; }

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-acco__trigger {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 5rem;
  display: block;
  float: left;
  text-decoration: none;
  position: relative; }

.menu-acco__trigger-text {
  left: 50%;
  top: 100%;
  margin-top: -1.25rem;
  text-align: center;
  white-space: nowrap;
  font-family: "gagalin";
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  position: absolute;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0; }

.menu-acco__content {
  width: 33.75rem;
  background-color: rgba(47, 50, 52, 0.93);
  height: 100%;
  width: 0;
  float: left;
  overflow: hidden; }

.menu-acco__text {
  font-family: "ubuntulight";
  color: #fff;
  padding: 3.75rem 1.875rem;
  font-size: 0.875rem;
  width: 100%;
  line-height: 1.8;
  display: none; }

.menu-acco__item {
  height: 100%;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }
  .menu-acco__item_active .menu-acco__trigger-text {
    color: #e25028; }
  .menu-acco__item_active .menu-acco__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .menu-acco__item_active .menu-acco__content {
    width: 60%; }

.order {
  background: url("../img/bg/form-bg.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .order__title {
    text-align: center;
    font-size: 3.125rem;
    line-height: 1;
    margin-bottom: 0.9375rem; } }

.form__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px; } }

.form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  margin-right: 0.9375rem; }
  .form__content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__content {
      width: 65%;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .form__content {
      width: 95%; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__row {
      margin-bottom: 0.625rem; } }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__block-title {
  color: #fff;
  font-family: "ubuntulight";
  margin-bottom: 0.3125rem; }

.form__input, .form__teatarea {
  border: 0.0625rem solid transparent;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  width: 100%; }
  .form__input:focus, .form__teatarea:focus {
    outline: none;
    border-color: #f8b43a; }

.form__teatarea {
  resize: none;
  height: 6.25rem; }

.form__input-circle {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.3125rem;
  background-color: #fff;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.form__input-inner {
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  background-color: #e25028;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.form__input-square {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  background-color: #fff; }

.form__input-check {
  width: 0;
  height: 0;
  color: #000;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.form__input-radio, .form__input-checkbox {
  left: -624.9375rem;
  position: absolute; }

.form__input-radio:checked + .form__input-circle .form__input-inner {
  width: 0.3125rem;
  height: 0.3125rem; }

.form__input-checkbox:checked + .form__input-square .form__input-check {
  margin-left: 0.03125rem;
  margin-top: -0.03125rem;
  width: 0.5rem;
  height: 0.28563rem;
  border-bottom: solid 0.125rem red;
  border-left: solid 0.125rem red; }

.form__btn {
  border: 0;
  border-radius: 0.3125rem;
  text-align: center;
  font-size: 0.8125rem;
  line-height: 2.1875rem;
  color: #fff;
  text-decoration: none;
  margin-right: 0.625rem;
  cursor: pointer; }
  .form__btn_submit {
    background-color: #e45028;
    text-transform: uppercase; }
    .form__btn_submit:hover {
      background-color: #c1401e; }
  .form__btn_reset {
    background-color: #2f3234; }
    .form__btn_reset:hover {
      background-color: #000; }

.contacts__map {
  background-image: url(../img/bg/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

.contacts__container {
  height: 100%;
  width: 100%;
  position: relative; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url("../img/content/footer-bg.jpg");
  height: 3.75rem; }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  overflow: hidden;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.footer__address {
  white-space: nowrap; }
  @media screen and (max-width: 480px) {
    .footer__address {
      white-space: initial; } }

.footer__contacts, .footer__socials {
  color: #fff;
  margin: 0.3125rem 0.625rem; }

.footer__phone-text {
  color: #e25028;
  text-decoration: none; }

.socials__list {
  text-align: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.socials__icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1.5625rem;
  height: 1.5625rem;
  margin-left: 0.625rem;
  fill: #00bfa5; }
  .socials__icon:hover {
    fill: #fff; }
  .socials__icon:last-child {
    margin-left: 0; }

.pagination {
  top: 6.25rem;
  right: 1.875rem;
  position: fixed; }

.pag__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.pag__item {
  margin-bottom: 1.25rem;
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #fff; }

/*# sourceMappingURL=main.css.map */