.best {
  background: url('../img/bg/best.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  .section-title {
    margin-bottom: rem(80px);

    @include phones {
      margin-bottom: 3rem;
      font-size: rem(55px);
    }
  }
}

.best__list {
  display: flex;
  flex-direction: row;

  @include phones {
    flex-direction: column;
    width: 100%;
  }
}

.best__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin-right: rem(15px);
  margin-bottom: rem(50px);
  max-width: rem(350px);

  &:last-child {
    margin-right: 0;
  }

  @include phones {
    text-align: left;
    flex-direction: row;
    padding: 0;
    width: 100%;
    margin-right: 0;
    margin-bottom: rem(20px);
    max-width: initial;
  }
}

.best__content {
  @include phones {
    width: 80%;
  }
}

.best__icon {
  display: block;
  height: rem(100px);
  text-align: center;
  margin-bottom: rem(25px);

  @include phones {
    width: 20%;
    margin-right: rem(50px);
    margin-bottom: 0;
  }
}

.best__icon-pic {
  width: 90%;
  height: 5.5rem;
  svg {
    max-width: 95%;
  }

  @include phones {
    margin-left: rem(20px);
  }
}

.best__head {
  font-size: rem(24px);
  font-family: "lifehack", Arial, sans-serif;
  margin-bottom: rem(10px);
  line-height: 1.2;

  @include phones {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
}

.best__text {
  font-size: rem(14px);
  line-height: 1.8;
  color: #2f3234;
  font-family: "ubuntulight", arial, sans-serif;
  text-align: center;

  @include phones {
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
  }
}
