.burger {
	background: #f9b43b; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f9b43b 0%,#eb8c38 40%,#eb8c38 60%,#eb8c38 60%,#f9b43b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f9b43b 0%,#eb8c38 40%,#eb8c38 60%,#eb8c38 60%,#f9b43b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 ); /* IE6-9 */
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-title__burger {
	margin-bottom: 3.125rem;
	color: #fff;
	line-height: 1;

	@include tablets {
		margin-bottom: rem(20px);
		text-align: center;
		font-size: rem(60px);
	}

	@include phones {
		font-size: rem(50px);
		margin-bottom: 0;
	}
}

.burger-slider {
	display: flex;
	width: 100%;
	height: 90%;
	align-items: center;
	justify-content: center;
}

.burger-slider__beef {
	display: flex;
	width: 100%;
	flex-direction: row;
	position: relative;

	@include tablets {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 60%;
	}

	@include phones {
		width: 80%;
	}
}

.burger__image {
	width: 40%;
	// position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	@include tablets {
		width: 100%;
		position: initial;
	}
}

.burger__image-img {
	width: 100%;
	margin-top: rem(50px);
	margin-bottom: rem(25px);

	@include tablets {
		margin-bottom: 0;
	}
}

.burger__content {
	width: 60%;
	color: #fff;
	font-family: 'ubuntulight';
	font-size: rem(14px);
	display: flex;
	flex-direction: column;

	@include tablets {
		text-align: center;
		width: 100%;
	}
}

.burger__small {
	width: rem(90px);
	height: rem(90px);
	background-color: #f08c33;
	transition: .3s;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: rem(5px);
	left: 0;
	top: 0;
	cursor: pointer;

	&:hover {
		background-color: #e35028;

		.burger-comp {
			opacity: 1;
			right: rem(-20px);
		}
	}
}

.burger__small-text {
	font-size: rem(14px);
	font-family: 'gagalin', Arial, sans-serif;
	color: #fff;
}

.burger-comp {
	right: 9999px;
	position: absolute;
	opacity: 0;
	transition: opacity .3s;
	display: flex;
	flex-direction: column;
	background: rgba(white, .9);
	border-radius: rem(5px);
}

.burger-comp__row {
	display: flex;
	flex-direction: row;
}

.burger__kkal {
	width: 4.75rem;
	height: rem(77px);
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: .5;
	text-align: center;
	font-family: 'gagalin', Arial, sans-serif;
	color: #fff;

	@include tablets {
		left: initial;
		bottom: initial;
		right: 0;
		top: 0;
	}
}

.burger__kkal-num {
	margin-top: rem(-42px);
	font-size: rem(20px);

	@include phones {
		margin-left: rem(4px);
	}
}

.burger__kkal-line {
	font-size: rem(14px);
	margin-top: rem(6px);

	@include phones {
		margin-left: rem(4px);
	}
}

.burger__price {
	color: $orange;
	font-family: 'gagalin', Arial, sans-serif;
	&_sum {
		font-size: rem(70px);

		@include tablets {
			margin-left: rem(-100px);
		}
		@include phones {
			font-size: rem(50px);
		}
	}
	&_rub {
		font-size: rem(30px);

		@include phones {
			font-size: rem(24px);
		}
	}
}

.burger__order-btn {
	display: inline-block;
	background-color: #e45028;
	text-transform: uppercase;
	border-radius: rem(5px);
	text-align: center;
	font-family: 'ubuntumedium';
	font-size: rem(13px);
	line-height: rem(35px);
	color: #fff;
	text-decoration: none;
	padding: 0 rem(15px);
	cursor: pointer;
	transition: 0.3s;
	margin-left: rem(25px);
	border: none;
	&:hover {
		background-color: #c1401e;
	}

	@include tablets {
		position: absolute;
		margin-top: rem(50px);
	}

	@include phones {
		margin-top: rem(28px);
		padding: 0 rem(20px);
	}
}

.burger__scroll-prev {
	position: absolute;
	transform: rotate(90deg);
	left: rem(10px);
	vertical-align: middle;
	cursor: pointer;

	&:hover {
		.burger__scroll-p-icon {
			use {
				fill: #fff;
			}
		}
	}
}

.burger__scroll-next {
	position: absolute;
	transform: rotate(-90deg);
	right: rem(10px);
	cursor: pointer;

	&:hover {
		.burger__scroll-n-icon {
			use {
				fill: #fff;
			}
		}
	}
}
