.contacts__map {
  background-image: url(../img/bg/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.contacts__container {
  height: 100%;
  width: 100%;
  position: relative;
}
