.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url("../img/content/footer-bg.jpg");
  height: rem(60px);
  font-size: rem(14px);
}

.footer__container {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;

  @include phones {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-basis: 100%;
  }
}

.footer__address {
  white-space: nowrap;

  @include phones {
    white-space: initial;
  }
}

.footer__contacts, .footer__socials {
  color: #fff;
  margin: 0 rem(70px);
}

.footer__phone-text {
  color: $orange;
  text-decoration: none;
}

.socials__list {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials__icon {
  display: inline-flex;
  width: rem(20px);
  height: rem(20px);
  fill: #5a5a5a;
 &:hover {
  fill: #fff;
  }
}

.socials__item {
  margin-left: rem(10px);
}
