.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url("../img/content/footer-bg.jpg");
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  overflow: hidden;
}

.footer__contacts, .footer__socials {
  color: #fff;
  margin: 5px 80px;
}

.footer__phone-text {
  color: $orange;
  text-decoration: none;
}

.socials__list {
  text-align: right;
}

.socials__icon {
  fill: $dark;
}

.socials__icon:hover {
  fill: #fff;
}
