.hamburger-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#2f3234, .99);
	align-items: center;
	justify-content: center;
	z-index: 100;
	display: none;
	transition: opacity .3s;

	&_visible {
		display: flex;
		flex-direction: column;
	}
}

.hamburger-menu__logo {
	position: absolute;
	top: rem(10px);
	left: rem(30px);
	z-index: 101;
}

.hamburger-menu__logo-pic {
	@include phones {
		width: 75%;
		height: 75%;
	}
}

.hamburger-menu__close {
	position: absolute;
	display: fixed;
	right: rem(15px);
	top: rem(15px);
	width: rem(18px);
	height: rem(18px);
	padding: rem(15px);
	box-sizing: content-box;
	z-index: 102;

	&:hover {
		.hamburger-menu__close-icon {
			use {
				fill: #fff;
			}
		}
	}
}

.hamburger-menu__close-icon {
	width: 100%;
	height: 100%;

	use {
		fill: #c1c2c2;
		transition: fill .3s;
	}
}


.hamburger-menu__list {
  text-align: center;
	margin-top: rem(45px);
}

.hamburger-menu__item {
  display: flex;
  flex-direction: column;
  white-space: nowrap;

  &:after {
		display: flex;
		flex-direction: column;
		margin: auto auto;
		content: "";
    @include circle(10px, #fff);
    }

  &:last-child:after {
    display: none;
  }
}

.hamburger-menu__link {
	color: #fff;
	text-decoration: none;
	margin-top: rem(20px);
	margin-bottom: rem(20px);
  font-size: rem(24px);
	text-transform: uppercase;
	font-family: "ubunturegular";

	&:hover {
		text-decoration: underline;
	}
}
