.hamburger-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#2f3234, .99);
	align-items: center;
	justify-content: center;
	z-index: 100;
	display: none;
	transition: opacity .3s;

	&_visible {
		display: flex;
		flex-direction: column;
	}
}

.hamburger-menu__logo {
	position: absolute;
	top: rem(10px);
	left: rem(30px);
	z-index: 101;
}

.hamburger-menu__logo-pic {
	@include phones {
		width: 75%;
		height: 75%;
	}
}

.hamburger-menu__close {
	position: fixed;
	right: rem(35px);
	top: rem(35px);
	width: rem(9px);
	height: rem(9px);
	align-items: center;
	box-sizing: content-box;
	z-index: 102;
	transition: .3s;

	&:hover {
		.hamburger-menu__close-icon:before, .hamburger-menu__close-icon:after {
		background-color: #fff;
		}
	}
}

.hamburger-menu__close-icon {
	&:before {
	content: '';
	position: absolute;
	width: rem(18px);
	height: rem(2px);
	background-color: #c1c2c2;
	transform: rotate(45deg);
	}

	&:after {
	content: '';
	position: absolute;
	width: rem(18px);
	height: rem(2px);
	background-color: #c1c2c2;
	transform: rotate(-45deg);
	}
}



.hamburger-menu__list {
  text-align: center;
	margin-top: rem(45px);
}

.hamburger-menu__item {
  display: flex;
  flex-direction: column;
  white-space: nowrap;

  &:after {
		display: flex;
		flex-direction: column;
		margin: auto auto;
		content: "";
    @include circle(10px, #fff);
    }

  &:last-child:after {
    display: none;
  }
}

.hamburger-menu__link {
	color: #fff;
	text-decoration: none;
	margin-top: rem(20px);
	margin-bottom: rem(20px);
  font-size: rem(24px);
	text-transform: uppercase;
	font-family: "ubunturegular";

	&:hover {
		text-decoration: underline;
	}
}
