.hero {
  background-image: url('../img/bg/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 17%;
}

.hero__logo {
  margin-right: 14.0625rem;
}

.nav {
  margin-right: rem(15px);
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__item {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  &:after {
    display: inline-flex;
    align-items: center;
    content: ' ';
    @include circle(5px, #fff);
    margin: 0 rem(15px);
  }
  &:last-child:after {
    display: none;
  }
}

.nav__link {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  &:hover {
    text-decoration: underline;
  }
  }

.header__button {
  display: inline-flex;
  padding: 0 rem(13px);
  background-color: #e45028;
  border: 0;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
  &:hover {
    background-color: #c1401e;
  }
}


.hero__intro {
  display: flex;
  flex-flow: row nowrap;
}

.hero__image {
  flex-basis: 47%;
  display: flex;
  margin-left: rem(12px);
  margin-right: 1.325rem;
}

.hero__text {
  flex-basis: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: rem(60px);
}

.hero__desc {
  color: #fff;
  font-family: "lifehack";
  font-size: 63px;
  font-weight: 500;
  line-height: 1;
  margin-top: rem(6px);
}

.arrow-scroll {
  display: inline-flex;
  position: absolute;
  height: 15px;
  width: 30px;
  bottom: 30px;
  left: 50%;
}
