.menu {
  background: url(../img/bg/menu.jpg) 50% no-repeat;
  background-size: cover;
  position: relative;
}

.menu__title {
	position: absolute;
	top: 10%;
}

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.menu-acco__trigger {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: rem(80px);
  display: block;
  float: left;
  text-decoration: none;
  position: relative;
}

.menu-acco__trigger-text {
  left: 50%;
  top: 100%;
  margin-top: -12rem;
  white-space: nowrap;
 font-family: "gagalin";
 font-size: rem(40px);
 font-weight: 400;
 color: #fff;
 text-decoration: none;
 transform: rotate(-90deg) translateY(-50%);
 position: absolute;
 transform-origin: 0 0;
}

.menu-acco__content {
  width: rem(540px);
  background-color: rgba($dark, .93);
  height: 100%;
  width: 0;
  float: left;
  overflow: hidden;
}

.menu-acco__text {
  font-family: "ubuntulight";
  color: #fff;
  padding: rem(60px) rem(30px);
  font-size: rem(14px);
  width: 100%;
  line-height: 1.8;
  display: none;
}


.menu-acco__item {
  height: 100%;
  transition: .6s;

  &_active {
    .menu-acco__trigger-text {
      color: $yellow;
    }

    .menu-acco__text {
      display: flex;
    }

    .menu-acco__content {
      width: rem(500px);

      @include phones {
        width: rem(400px);
      }
    }
  }
}
