.menu {
  background: url(../img/bg/menu.jpg) center center no-repeat;
  background-size: cover;
}

.menu__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu-acco {
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-acco__item {
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: .6s;

  &_active {
    align-items: flex-start;

    .menu-acco__text {
      display: flex;
    }

    .menu-acco__title-text {
      color: $orange;
    }
  }
}

.menu-acco__text {
  width: 540px;
  background-color: rgba($dark, .93);
  height: 100%;
  font-family: "ubuntulight";
  color: #fff;
  z-index: 2;
  display: none;
  padding: 30px 60px;
}

.menu-acco__title {
  height: 100%;
  position: relative;
}

.menu-acco__title-text {
  left: -150px;
  top: 20%;
  align-items: center;
  white-space: nowrap;
 font-family: "gagalin";
 font-size: 40px;
 font-weight: 400;
 color: #fff;
 text-decoration: none;
 transform: rotate(-90deg) translate(-50%, -50%);
 position: absolute;
}
