.menu {
  background: url(../img/bg/menu.jpg) 50% no-repeat;
  background-size: cover;
  position: relative;
}

.menu__title {
	position: absolute;
	top: 10%;
}

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;

  &_active {
    @include tablets {
      left: 0;
    }
  }
}

.menu-acco__trigger {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: rem(80px);
  display: block;
  float: left;
  text-decoration: none;
  position: relative;
}

.menu-acco__trigger-text {
  left: 50%;
  top: 50%;
  white-space: nowrap;
  font-family: "gagalin";
  font-size: rem(40px);
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transform: rotate(-90deg) translateX(-50%) translateY(-50%);
  position: absolute;
  transform-origin: 0 0;
  transition: .3s;
  vertical-align: middle;
  display: inline-block;

 &:hover {
   color: $yellow;
 }
}

.menu-acco__content {
  width: 0;
  overflow: hidden;
  background-color: rgba($dark, .93);
  height: 100%;
  float: left;
}

.menu-acco__text {
  font-family: "ubuntulight";
  color: #fff;
  padding: rem(30px) rem(30px);
  font-size: rem(14px);
  width: rem(519px);
  line-height: 1.8;
  display: flex;
  @include phones {
    font-size: rem(14px);
  }
}


.menu-acco__item {
  height: 100%;
  transition: .6s;
  z-index: 300;

  &_active {

    .menu-acco__trigger-text {
      color: $yellow;
    }

    .menu-acco__content {
      width: 100%;
    }

    // @include phones {
    //   position: absolute;
    //   width: 100%;
    //   bottom: 0;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   z-index: 300;
    //   display: flex;
    //   flex-direction: row;

      // .menu-acco__trigger {
      //   left: 0;
      //   width: 15%;
      //   display: block;
      // }

    //   .menu-acco__content {
    //     // width: 85%;
    //     // display: block;
    //     background-color: rgba($dark, .99);
    //     }
    // // }
  }
}




.menu__close {
  display: none;

  @include phones {

	position: absolute;
	right: rem(35px);
	top: rem(35px);
	width: rem(9px);
	height: rem(9px);
	align-items: center;
	box-sizing: content-box;
	z-index: 102;
	transition: .3s;

  	&:hover {
  		.menu__close-icon:before, .menu__close-icon:after {
  		background-color: #fff;
  		}
  	}
  }
}

.menu__close-icon {
	&:before {
	content: '';
	position: absolute;
	width: rem(18px);
	height: rem(2px);
	background-color: #c1c2c2;
	transform: rotate(45deg);
	}

	&:after {
	content: '';
	position: absolute;
	width: rem(18px);
	height: rem(2px);
	background-color: #c1c2c2;
	transform: rotate(-45deg);
	}
}
