.order {
  background: url('../img/bg/form-bg.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

.order__title {
  margin-top: -4rem;
  margin-bottom: 4rem;

  @include tablets {
    text-align: center;
    font-size: 4rem;
    line-height: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @include phones {
    font-size: 3.77rem;
  }
}

.form__elem {
  display: flex;
  flex-direction: row;
  font-size: 14px;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.form__content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: rem(20px);
  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    width: 65%;
    margin-right: 0;
  }

  @include phones {
    width: 97%;
  }
}

.form__row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;

  white-space: nowrap;

  &_center {
    @include phones {
      text-align: center;
      align-items: center;
      margin: 0 auto;
      white-space: nowrap;
    }
  }

  @include tablets {
  margin-bottom: rem(8px);
  }
}

.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child  {
    margin-right: 0;
  }

  &_pointer {
    cursor: pointer;
  }
}

.form__block-title {
  color: #fff;
  font-family: "ubuntulight";
}

.form__input, .form__teatarea {
  margin-top: rem(8px);
  margin-bottom: 1rem;
  border: 1px solid transparent;
  display: block;
  border-radius: rem(5px);
  padding: 0.5rem;
  width: 100%;
  &:focus {
    outline: none;
    border-color: $yellow;
  }

  @include tablets {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.form__teatarea {
  resize: none;
  height: 7rem;

  @include tablets {
    height: 6rem;
  }

  @include phones {
    height: 5rem;
  }
}

.form__input-circle {
  @include circle(1rem, #fff);
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: rem(3px);
  margin-top: 0.15rem;
  margin-bottom: 1.6rem;
  border: 1px solid transparent;

  @include tablets {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.form__input-inner {
  width: rem(0px);
  height: rem(0px);
  border-radius: 50%;
  background-color: $orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .2s;
}

.form__input-square {
  position: relative;
  display: inline-flex;
  align-items: center;
  content: "";
  width: rem(15px);
  height: rem(15px);
  background-color: #fff;
  margin-right: rem(3px);
  margin-bottom: 1.6rem;
  border: 1px solid transparent;

  @include tablets {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.form__input-check {
  width: 0;
  height: 0;
  color: #000;
  position: absolute;
  transform: rotate(-45deg);
  transition: .2s;
}

.form__input-radio, .form__input-checkbox {
  left: rem(-9999px);
  position: absolute;
}

.form__input-radio:checked + .form__input-circle .form__input-inner {
  width: rem(7px);
  height: rem(7px);
}

.form__input-checkbox:checked + .form__input-square .form__input-check {
  margin-left: rem(1.5px);
  margin-top: -0.07rem;
  width: rem(11px);
  height: rem(8px);
  border-bottom: solid rem(3px) red;
  border-left: solid rem(3px) red;
}

.form__input-radio:focus + .form__input-circle,
.form__input-checkbox:focus + .form__input-square {
  border-color: $orange;
}

.form__btn {
  border: 0;
  border-radius: rem(5px);
  text-align: center;
  font-size: rem(13px);
  line-height: rem(35px);
  color: #fff;
  text-decoration: none;
  margin-top: -0.1rem;
  margin-right: rem(10px);
  padding: 0 rem(15px);
  cursor: pointer;
  transition: 0.3s;
  &_submit {
    background-color: #e45028;
    text-transform: uppercase;
    &:hover {
      background-color: #c1401e;
    }
  }

  &_reset {
    background-color: $dark;

    &:hover {
      background-color: #000;
    }
  }

  @include tablets {
    padding: 0 1.2rem;
    margin-top: 0.6rem;
  }
  @include phones {
    margin-top: 0;
  }
}
