.pagination {
  top: rem(100px);
  right: rem(30px);
  position: fixed;
  z-index: 1100;

  @include tablets {
    display: none;
  }
}

.pagination__list {
  display: flex;
  flex-direction: column;
}

.pagination__item {
  margin-bottom: rem(16px);
  content: " ";
  @include circle (0.3625rem, #fff);

}
.pagination__link {
    position: absolute;
    display: block;
    padding: rem(5px);
    content: " ";
    @include circle (rem(16px), transparent);
    border: rem(1px) solid transparent;
    margin-top: rem(-5px);
    margin-left: rem(-5px);
    cursor: pointer;
}
    .pagination__item_active .pagination__link,
    .pagination__item:hover .pagination__link {
    border: rem(1px) solid #fff;
}
