.pagination {
  top: rem(100px);
  right: rem(30px);
  position: fixed;
}

.pag__list {
  display: flex;
  flex-direction: column;
}

.pag__item {
  margin-bottom: rem(20px);
  content: " ";
  @include circle (rem(8px), #fff);
}
