.reviews {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.reviews__list {
  display: flex;
  flex-flow: row wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: grayscale(100);

  @include tablets {
    width: 50%;
    height: 25%;
  }
}

.reviews__text {
  padding: 2.5rem 1rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .4s;
  &:hover {
    opacity: 1;
    background: rgba(0,0,0,0.5);
  }

  @include tablets {
    text-align: center;
    font-size: rem(14px);
    line-height: rem(24px);
    padding: 0.5rem 0.5rem;
  }

  @include phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.reviews__author {
  font-family: "gagalin", sans-serif;
  font-size: rem(14px);
  margin-bottom: rem(20px);

  @include tablets {
    margin-bottom: rem(10px);
  }

  @include phones {
    font-size: rem(24px);
    margin-bottom: rem(24px);
  }
}


.reviews__content {
  line-height: 1.42;
  font-size: rem(14px);
  font-family: "ubuntulight", sans-serif;
  margin-bottom: 7%;

  @include tablets {
    line-height: 1.1;
  }

  @include phones {
    display: none;
  }
}

.reviews__button {
  color: #fff;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(13px);
  padding: rem(10px) rem(15px);
  background-color: $dark;
  border-radius: rem(7px);
  transition: .4s;
  &:hover {
    background-color: #000;
  }
}

// popup

.review-popup {
  position: fixed;
  background: rgba(#2f3234, .93);
  display: none;
  align-items: center;
	justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &_visible {
    display: flex;
  }
}

.review-popup__block {
  width: 50%;
  height: 60%;
  max-height: 90%;
  background-color: #FFF;
  border-radius: rem(5px);
  padding: rem(20px) rem(20px);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include tablets {
    width: 80%;
  }

  @include phones {
    width: 95%;
  }
}

.review-popup__head {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  margin-bottom: rem(20px);
}

.review-popup__author {
  font-family: "gagalin", sans-serif;
  font-size: rem(14px);
  margin-bottom: rem(20px);

  @include tablets {
    margin-bottom: rem(10px);
  }

  @include phones {
    font-size: rem(24px);
    margin-bottom: rem(24px);
  }
}

.review-popup__close {
  width: 40%;
  display: inline-block;
  right: 0;
  top: rem(15px);
  opacity: .7;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
