.reviews {
  display: flex;
  flex-flow: row wrap;
}

.reviews__list {
  display: flex;
  flex-flow: row wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: grayscale(100);

  @include tablets {
    width: 50%;
    height: 25%;
  }
}

.reviews__text {
  padding: 2.5rem 1rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .4s;
  &:hover {
    opacity: 1;
    background: rgba(0,0,0,0.5);
  }

  @include tablets {
    text-align: center;
    font-size: rem(14px);
    line-height: rem(24px);
    padding: 1rem 2rem;
  }

  @include phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.reviews__author {
  font-family: "gagalin", sans-serif;
  font-size: rem(14px);
  margin-bottom: rem(20px);

  @include tablets {
    margin-bottom: rem(10px);
  }

  @include phones {
    font-size: rem(24px);
    margin-bottom: rem(24px);
  }
}


.reviews__content {
  line-height: 1.42;
  font-size: rem(14px);
  font-family: "ubuntulight", sans-serif;
  margin-bottom: 3rem;

  @include tablets {
    margin-bottom: rem(17px);
  }

  @include phones {
    display: none;
  }
}

.reviews__button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(13px);
  padding: rem(10px) rem(15px);
  background-color: $dark;
  border-radius: rem(7px);
  transition: .4s;
  &:hover {
    background-color: #000;
  }
}
