.team {
  background-image: url(../img/bg/team-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.team__content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background-color: rgba($dark, .93);
  color:  #fff;
  padding: 5% 1% 0 6%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include tablets {
    left: 0;
    align-items: center;
    justify-content: center;
  }
}

.team-acco {
  margin-top: 14%;
  display: flex;
  flex-direction: column;

  @include tablets {
    justify-content: center;
    align-items: center;
  }
}

.team-acco__trigger {
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-family: 'gagalin';
  font-size: rem(14px);
  display: flex;
  margin-bottom: 2rem;
  align-items: center;

  &:before {
  content: "";
  width: rem(5px);
  height: rem(5px);
  border: rem(5px) solid transparent;
  border-top-color: $yellow;
  border-bottom-width: 0;
  margin-right: 0.4rem;
  }

  @include tablets {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  @include phones {
    font-size: rem(24px);
  }
}

.team-acco__content {
  margin-bottom: 1%;
  display: none;
  font-family: "ubuntulight";
  margin-bottom: 0.6rem;

    @include tablets {
      text-align: center;
      align-items: center;
    }
}

.team-acco__avatar {
  border-radius: 50%;
  flex-shrink: 0;
  // margin-right: rem(15px);
  width: rem(140px);
  margin-bottom: rem(25px);
  text-align: center;
}

.team-acco__img {
  margin: 0 auto;
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include phones {
    width: rem(110px);
    height: rem(110px);
  }
}

.team-acco__text {
  width: 13rem;
  font-size: 14px;

  @include tablets {
    width: rem(360px);
  }

  @include phones {
    width: rem(400px);
  }
}

.team-acco__text-title {
  font-family: 'ubuntubold';
}

.team-acco__item_active {
  .team-acco__trigger {
    color: $yellow;
    margin-bottom: 1rem;
    &:before {
      transform: rotate(-180deg);
      }
    }

    .team-acco__content {
      display: flex;
      flex-direction: row;

      @include tablets {
        flex-direction: column;
        text-align: center;
      }
    }
}
