.section-title {
  color: #f9b43b;
  font-family: "gagalin";
  font-size: rem(72px);
  font-weight: 400;
  line-height: 1.42;
  margin: 0;

  &_color {
    &_black {
      color: $dark;
    }
    &_white {
      color: #fff;
    }
  }

  &_centered {
    align-items: center;
  }

  &_margin-left {
    margin-left: rem(100px);
    margin-right: rem(30px);
  }

  @include phones {
    font-size: rem(50px);
  }
}
