@font-face {
    font-family: 'lifehack';
    src: url('../fonts/lifehack_medium.woff2') format('woff2'),
         url('../fonts/lifehack_medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gagalin';
    src: url('../fonts/gagalin-regular.woff2') format('woff2'),
         url('../fonts/gagalin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-light.woff2') format('woff2'),
         url('../fonts/ubuntu-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-medium.woff2') format('woff2'),
         url('../fonts/ubuntu-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-b.woff2') format('woff2'),
         url('../fonts/ubuntu-b.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-regular.woff2') format('woff2'),
         url('../fonts/ubuntu-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
